@import "reset.scss";
@import "fonts.scss";

// * {
// 	outline: 1px lime solid !important;
// }

// @mixin font($fs, $fos, $wdth, $grad, $fw, $lh) {
// 	font-family: RobotoFlex, sans-serif;
// 	font-size: $fs;
// 	font-variation-settings: 'wght'$fw, 'GRAD'$grad, 'wdth'$wdth, 'opsz'$fos;
// 	line-height: $lh;
// }

// %text-data {
// 	@include font(300px, 300, 140, 150, 700, 120%)
// }

:root {
	--minheight: 500px
}

$clr-green1: #11FFC6;
$clr-sky: #0FB7FF;
$clr-green2: #A4FF0F;
$clr-accent: #0246F5;
$clr-accent-hover: #033FD9;
$clr-yellow: #F8EE00;
$clr-black: #0F0F0F;
$clr-gray: #F9F9FF;
$clr-white: #FFFFFF;
$clr-orange: #FF6006;
$clr-violet: #9A00F8;
$clr-pink: #FF26D4;
$clr-gray-bg: #E9EDF6;
$clr-black-text: #131325;

$columngap: 40px;

$column: calc((100% - $columngap * 11) / 12);

$f-sb: Primary-Semibold;
$f-r: Primary-Regular;
$f-m: Primary-Medium;
$f-b: Primary-Book;
$f-vl: ViaodaLibre-Regular;

%title_200 {
	font-family: $f-m;
	font-size: 64px;
	line-height: 1em;
	letter-spacing: -.07em;
	@media (max-width:800px) {
		font-size: 32px;
	}
}
%title_100 {
	font-family: $f-m;
	font-size: 44px;
	line-height: 1em;
	letter-spacing: -.07em;
}

%subtitle_400 {
	font-family: $f-sb;
	font-size: 36px;
	line-height: .85em;
	letter-spacing: -.05em;
}

%subtitle_300 {
	font-family: $f-m;
	font-size: 36px;
	line-height: .85em;
	letter-spacing: -.05em;
}

%subtitle_200 {
	font-family: $f-m;
	font-size: 28px;
	line-height: .85em;
	letter-spacing: -.05em;
	@media (max-width:800px) {
		font-size: 24px;
		line-height: 1em;
		letter-spacing: -.07em;
	}
}

%subtitle_100 {
	font-family: $f-b;
	font-size: 28px;
	line-height: 1em;
	letter-spacing: -.07em;
	@media (max-width:800px) {
		font-size: 16px;
	}
}

%body_400 {
	font-family: $f-m;
	font-size: 24px;
	line-height: 1em;
	letter-spacing: -.05em;
}

%body_300 {
	font-family: $f-b;
	font-size: 24px;
	line-height: 1em;
	letter-spacing: -.07em;
}

%body_200 {
	font-family: $f-b;
	font-size: 20px;
	line-height: .85em;
	letter-spacing: -.05em;
	@media (max-width:800px) {
		font-size: 16px;
		line-height: 1em;
		letter-spacing: -.07em;
	}
}

%body_100 {
	font-family: $f-b;
	font-size: 18px;
	line-height: 1em;
	letter-spacing: -.07em;
	@media (max-width:800px) {
		font-size: 14px;
		letter-spacing: -.05em;
	}
}

%cap_100 {
	font-family: $f-b;
	font-size: 13px;
	letter-spacing: -.07em;
}

%matop {
	margin-top: 120px;
}

%transition_default {
	transition: all .3s ease-in-out;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
	@extend %transition_default;
	text-decoration: none !important;
	color: $clr-black-text;
}

button,
button:hover,
button:active,
button:visited,
button:focus {
	@extend %transition_default;
	text-decoration: none !important;
	outline: none !important;
	color: $clr-black-text;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #e9edf6;
	color: $clr-black-text;
	overflow-x: hidden;
}

@import "header.scss";
@import "footer.scss";



.main-btn {
	@extend %body_400;
	@extend %transition_default;
	padding: 1.1em 1em;
	border-radius: 1em;
	line-height: 1em;
	position: relative;
	display: inline-block;
	background-color: $clr-accent;
	color: $clr-white;
	&:hover {
		color: $clr-white;
		background-color: $clr-accent-hover;
	}
	&.sh-btn {
		@extend %body_100;
		padding: .5em .7em;
		border-radius: .5em;
		background-color: rgba($color: #fff, $alpha: .08);
		&:hover {
			color: $clr-white;
			background-color: $clr-accent-hover;
		}
	}
	&.main-btn-white {
		background-color: $clr-white;
		color: $clr-black-text;
		&:hover {
			color: $clr-black-text;
			background-color: $clr-gray;
		}
	}
}
.main-title {
	@extend %title_200;
	color: $clr-black-text;
	margin-bottom: .5em;
}

#sec_1 {
	width: 100%;
	height: 100svh;
	background-color: $clr-accent;
	position: relative;
	img {
		position: absolute;
		width: 50%;
		aspect-ratio: 1057/804;
		bottom: 0;
		right: 0;
		pointer-events: none;

	}
	.main-cont {
		padding-top: 180px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
		.sub-title {
			color: rgba($color: #fff, $alpha: .8);
			@extend %body_200;
			background-color: rgba($color: #fff, $alpha: .08);
			padding: 8px 12px;
			border-radius: 55px;
			position: relative;
			display: flex;
			align-items: center;
			&:before {
				content: url('data:image/svg+xml,<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="6" cy="6.5" r="6" fill="white"/></svg>');
				width: 12px;
				height: 13px;
				margin-right: 5px;
				margin-bottom: 4px;
			}
		}
		.main-title {
			color: $clr-white;
			width: 12em;
			margin-bottom: 0;
		}
		.sup-title {
			color: rgba($color: #fff, $alpha: .8);
			@extend %subtitle_100;
			display: flex;
			align-items: center;
			gap: 10px;

		}
	}
}
#sec_2 {
	padding-top: 100px;
	.main-title {
		text-align: center;
	}
	.sec-2-cont {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
		.sec-2-card {
			width: calc((100% - 15px) / 2);
			border-radius: 36px;
			padding-top: 30px;
			min-height: 333px;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			overflow: hidden;
			&-title {
				@extend %subtitle_400;

			}
			&:nth-child(1), &:nth-child(2) {
				padding-top: 20px;
				width: calc((100% - 15px) / 2);
				background-color: $clr-orange;
				.sec-2-card-title {
					color: $clr-white;
					max-width: 15em;
				}
			}
			&:nth-child(2) {
				background-color: $clr-accent;
				.sec-2-card-title {
					max-width: 12em;
				}
			}
			&:nth-child(3) {
				width: calc((100% - 30px) / 4 + 25px);
				background-color: $clr-violet;
				.sec-2-card-title {
					color: $clr-white;
				}
			}
			&:nth-child(4) {
				padding-bottom: 30px;
				width: calc((100% - 30px) / 2 - 50px);
				background-color: $clr-yellow;
				.sec-2-card-title {
					max-width: 15em;
				}
			}
			&:nth-child(5) {
				width: calc((100% - 30px) / 4 + 25px);
				background-color: $clr-green1;
				.sec-2-card-title {
					color: $clr-accent;
					max-width: 12em;
				}
			}
		}
	}
}

#sec_3 {
	padding-top: 100px;
	.main-title {
		text-align: center;
	}
	.sec-3-cont {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.sec-3-card {
			font-family: $f-vl;
			font-size: 58px;
			line-height: .9em;
			letter-spacing: -0.06em;
			padding: 8px;
			position: relative;
			&:nth-child(1) {
				background-color: $clr-yellow;
				color: $clr-black-text;
				rotate: 0.14deg;
			}
			&:nth-child(2) {
				background-color: $clr-pink;
				color: $clr-white;
				rotate: -0.36deg;
				margin-top: -3px;
				margin-left: 0;
			}
			&:nth-child(3) {
				background-color: $clr-green1;
				color: $clr-orange;
				rotate: -0.09deg;
				margin-top: 0;
				margin-left: 0;
			}
			&:nth-child(4) {
				background-color: $clr-orange;
				color: $clr-green2;
				rotate: 1.17deg;
				margin-top: 0;
				margin-left: 0;
			}
			&:nth-child(5) {
				background-color: $clr-white;
				color: $clr-pink;
				rotate: 0.89deg;
				margin-top: 0;
				margin-left: 0;
			}
			&:nth-child(6) {
				background-color: $clr-sky;
				color: $clr-white;
				rotate: -1.19deg;
				margin-top: -3px;
				margin-left: 0;
			}
			&:nth-child(7) {
				background-color: $clr-green2;
				color: $clr-black-text;
				rotate: -0.36deg;
				margin-top: -3px;
				margin-left: 0;
			}
			&:nth-child(8) {
				background-color: $clr-black;
				color: $clr-white;
				rotate: -1.16deg;
				margin-top: -5px;
				margin-left: 0;
			}
			&:nth-child(9) {
				background-color: $clr-green2;
				color: $clr-accent;
				margin-top: -3px;
				margin-left: -5px;
			}
			&:nth-child(10) {
				background-color: $clr-white;
				color: $clr-accent;
				rotate: 0.89deg;
				margin-top: -5px;
				margin-left: 0;
			}
			&:nth-child(11) {
				background-color: $clr-violet;
				color: $clr-white;
				rotate: -0.36deg;
				margin-top: -5px;
				margin-left: 0;
			}
		}
	}
}